@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    background-color: #b3dee5;
}

.container{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #FFA101;
    font-size: 5rem;
}

.buttons-container{
    margin-top: 10%;
    display: flex;
    width: 20vw;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
}

button{
    width: 5rem;
    height: 3rem;
    background-color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

#yes:hover{
    width: 5rem;
    height: 3rem;
    color: white;
    background-color: rgb(255, 53, 63);
    outline: none;
    border: none;
    border-radius: 5px;
}
